# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lpant\Downloads\Progetto Struttura Dati-20210505T155830Z-001\Progetto Struttura Dati\AlgoritmiEStruttureDati_Progetto_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
